.about-me{
  display: flex;
  flex-direction: column;
  justify-content: center;
<<<<<<< HEAD
  font-size: 1.3rem;
  padding: 7rem 0;
  text-align: center;
=======
  font-size: 1rem;
  padding: 4rem 0;
  height: 100vh;
>>>>>>> 00b675bd349f5f055eeefd23f7bc9a3b2606ebc6
}

.about-me-container{
  width: 80%;
<<<<<<< HEAD
  min-height: 23.7vh;
=======
  display: flex;
  margin: 0 auto;
  gap: 30px;
  font-size: 32px;
  text-align: justify-all;
  align-items: center;
}

.about-me-img {
  width: 50vw;
  height: 70vh;
>>>>>>> 00b675bd349f5f055eeefd23f7bc9a3b2606ebc6
}