*{
    box-sizing: border-box;
    font-family: var(--font);
}

.papa{
    background-color: aliceblue;
    width: 250px;
    display: flex;
    flex-direction: column;
    font-family: var(--font);
    margin: 1rem;
    cursor: pointer;
}

/* div:first-child{
    align-items: center;
} */

.hijo{
    height: 280px;
    background-image:url('./resources/Captura.PNG');
    color: white;
    display: flex;
    align-items: flex-end;
    font-family: var(--font);
    font-size: 1.2rem;
    font-weight: bold;
}

.papa p{
    padding: 0.5rem;
}
