*{
    box-sizing: border-box;
    font-family: var(--font);
}

.papa{
    background-color: aliceblue;
    width: 250px;
    display: flex;
    flex-direction: column;
    font-family: var(--font);
    cursor: pointer;
    max-height: 25rem;
    margin: 1rem 1rem 2rem;
}

.xx{
    display: flex;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.336);

}

.hijo{
    position: relative;
    color: white;
    display: flex;
    align-items: flex-end;
    font-family: var(--font);
    font-size: 1.2rem;
    font-weight: bold;
    height: 15rem;
    background-position: center;
    background-size: cover;
}

.papa p {
    max-height: 8rem;
    padding: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-style: italic;
    font-size: 15px;
}

.data-info {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
}

a {
    color: blue;
}

p.name {
    padding: 0;
    margin-left: 1rem;
    margin-top: 10px;
    font-size: 22px;
}
 i.check {
     margin-top: 1rem;
     margin-left: 1rem;
 }

p.location {
    position: absolute;
    margin: 0;
    bottom: 0;
    left: 0;
}

