.logo{
  font-family: 'Dancing Script', cursive;
  color: #FFF;
  padding: 0;
  margin: 0;
 /*  font-size: 3.5rem; */
 font-size:  clamp(2rem, 5vw, 5rem); 
}

a{
  text-decoration: none;
}

header{
  background: var(--dark-purple);
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index:1000
}

header div{
  display: flex;
  width: 95%;
  align-items: center;
  justify-content: space-between;
}

.loggin{
  background: var(--light-purple);
  border-radius: 4rem;
  padding: 1rem 2rem;
  font-size:  clamp(0.2rem, 5vw, 1.2rem); 
}

ul{
  list-style-type: none;
  display: flex;
}

ul li{
  padding: 1rem;
  cursor: pointer;
  color: #FFF;
  font-family: 'Dancing Script', cursive;
  font-family: 'Poppins', sans-serif;
  
  text-decoration: none;
}

ul li a{
  color: #FFF;
  font-family: 'Dancing Script', cursive;
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
  text-decoration: none;
}

li:hover {
  background-color: #6846b6;
  border-radius: 20px;
}

@media only screen and (max-width: 600px) {
  header div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }

  header{
    height: auto;
    width: 100%;
    position: static;
  }
}